<p>
  contact works!
</p>

  <p>Developed and documented design, source base and architecture for enterprise-level projects.</p>
  <p>Developed new features and maintained existing source code. That includes tests, analysis and bug fixes.</p>
  <p>Reviewed and improved source code. Provided technical support to other team members.</p>
  <p>Provided post-production troubleshooting and support, investigated complex technical issues.</p>
  <p>Designed and implemented solutions according to users need and requirements.</p>
  <p>Worked at both front-end and back-end areas.</p>
  <div style="font-weight: bold;">Major projects:</div>
  <ol>
    <li>
      <div>Digital signage software [constant features development]</div>
      <p>Use of digital technologies to display images, video, various data (such as weather, timetables, air pollution) and text.</p>
      <div class="ui-skills-group">
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java">Java</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Enterprise Edition">Java EE</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="GlassFish/Payara">Payara</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Server Faces">JSF</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JavaScript">JavaScript</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="jQuery">jQuery</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JPA">JPA</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="EclipseLink">EclipseLink</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="PostgreSQL">PostgreSQL</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="SOLR">SOLR</div></div>
      </div>
    </li>
    <li>
      <div>Archive/Restore software [constant maintenance]</div>
      <p>Automates delivery of media files from deep archive to emission using generated playlist files.</p>
      <p>Automates archiving media files.</p>
      <p>Enables creating file transfer workflows.</p>
      <div class="ui-skills-group">
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java">Java</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Enterprise Edition">Java EE</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="JBoss/Widlfy">Widlfy</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Server Faces">JSF</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JavaScript">JavaScript</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="jQuery">jQuery</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JPA">JPA</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Hibernate">Hibernate</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="PostgreSQL">PostgreSQL</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title" title="Oracle DIVA">Oracle DIVA</div></div>
      </div>
    </li>
    <li>
      <div>Music rotation engine + GUI</div>
      <p>Generates music schedules according to multiple rotation rules and previous music emission.</p>
      <div class="ui-skills-group">
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java">Java</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Enterprise Edition">Java EE</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="GlassFish/Payara">Payara</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Server Faces">JSF</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JavaScript">JavaScript</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title regular" title="jQuery">jQuery</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JPA">JPA</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="EclipseLink">EclipseLink</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title strong" title="PostgreSQL">PostgreSQL</div></div>
        <div class="ui-skills-chart"><div class="ui-skill-title" title="Dalet">Dalet</div></div>
      </div>
    </li>
  </ol>

<div><p>Opracowywał i dokumentował kod żródłowy i architekturę projektów biznesowych.</p><p>Opracowywał nowe funkcjonalności i utrzymywal istniejące aplikacje. Testował, analizował i wdrażał poprawki.</p><p>Badał i rozwiązywał problemy techniczne.</p><p>Projektował i implementował rozwiązania według potrzeb i wymagań klientów.</p><p>Sprawdzał i poprawiał kod źródłowy. Zapewniał pomoc i wsparcie techniczne członkom zespołu.</p><p>Zapewniał wsparcie powdrożeniowe.</p><p>Pracował zarówno w obszarze frondendu jak i backendu.</p></div>

<div><p>Managed and monitored installed systems and infrastructure. That includes tape libraries and disk arrays.</p><p>Installed, configured, and maintained operating systems, application software and system management tools.</p><p>Created software to integrate different parts of systems.</p></div>
<div><p>Zarządzał i monitorował systemy archiwum cyfrowych (macierze dyskowe, biblioteki tasmowe).</p><p>Instalował, konfigurował i utrzymywał systemy operacyjne, aplikacje integracyjne i narzędzia do zarządzania.</p><p>Tworzył oprogramowanie integrujące różne części wdrażanych systemów.</p></div>

<div><p>Software developer with 7+ years experience in creating and designing enterprise applications. Worked in a small team to deliver complete solutions for customers. Always trying to help other team members and ready to learn something new.</p></div>
<div><p>Well organized software developer with 7+ years experience with can-do attitude. Worked in a small team to deliver complete solutions for customers. Eager to help other team members and ready to learn something new. Open for work opportunities that allows improvement skills and learning a new ones.</p></div>
<div><p>Software developer z 7+ letnim doświadczeniem w tworzeniu i projektowaniu aplikacji biznesowych. Pracował w małym zespole deweloperskim dostarczając kompletne rozwiązania dla klientów. Zawsze stara się wspierać innych członków zespołu i chętnie uczy sie nowych rzeczy.</p></div>


<div class="ui-skills-group">
  <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java">Java</div></div>
  <div class="ui-skills-chart"><div class="ui-skill-title strong" title="Java Enterprise Edition">Java EE</div></div>
  <div class="ui-skills-chart"><div class="ui-skill-title strong" title="JavaScript">JavaScript</div></div>
</div>



