
.ui-about {
  background: #FFFFFF; /* Old browsers */
  /*background: -moz-linear-gradient(top, #F2F9F8 0%, #FFFFFF 60%); !* FF3.6-15 *!*/
  /*background: -webkit-linear-gradient(top, #F2F9F8 0%, #FFFFFF 60%); !* Chrome10-25,Safari5.1-6 *!*/
  /*background: linear-gradient(to bottom, #F2F9F8 0%, #FFFFFF 60%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F9F8', endColorstr='#FFFFFF', GradientType=0); !* IE6-9 *!*/
  background: -moz-linear-gradient(top, #dbe6ef 0%, #FFFFFF 60%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dbe6ef 0%, #FFFFFF 60%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dbe6ef 0%, #FFFFFF 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6ef', endColorstr='#FFFFFF', GradientType=0); /* IE6-9 */
}

.ui-about-content {
  display: grid;
  grid-template-columns: auto 10em;
  font-size: .8em;
}

.ui-about-contact {
  display: grid;
  grid-template-columns: 12em auto;
  grid-auto-rows: 1.2em;
  /*margin-left: 1em;*/
  margin-right: 1em;
  grid-gap: 1em;
  /*grid-column-gap: 2em;*/
  /*justify-content: center;*/
  /*align-content: center;*/
}

.ui-about-text {
  margin-left: 15px;
}

.ui-about-image-profile {
  width: 15em;
  height: 20em;
  position: absolute;
  right: 2em;
  top: 3em;
}

.ui-about-image-profile>img {
  max-height: 20em;
}

.ui-about-label {
  font-weight: bold;
  /*text-align: right;*/
}

@media only screen and (max-width: 800px) {

  .ui-about-contact {
    grid-template-columns: auto;
    grid-gap: 0;
  }

}

