
.ui-about {
}

.ui-about-content {
  display: grid;
  grid-template-columns: auto 10em;
  font-size: .8em;
}

.ui-about-contact {
  display: grid;
  grid-template-columns: 12em auto;
  grid-auto-rows: 1.2em;
  /*margin-left: 1em;*/
  margin-right: 1em;
  grid-gap: 1em;
  /*grid-column-gap: 2em;*/
  /*justify-content: center;*/
  /*align-content: center;*/
}

.ui-about-text {
  margin-left: 15px;
}

.ui-about-image-profile {
  width: 15em;
  height: 20em;
  position: absolute;
  right: 2em;
  top: 3em;
}

.ui-about-image-profile>img {
  max-height: 20em;
}

.ui-about-label {
  font-weight: bold;
  /*text-align: right;*/
}

@media only screen and (max-width: 800px) {

  .ui-about-contact {
    grid-template-columns: auto;
    grid-gap: 0;
  }

}

