
.ui-skills-content {
  display: flex;
  /*justify-content: center;*/
  flex-wrap: wrap;
}

.ui-skills-chart {
  margin: .2em;
  width: 5em;
  overflow: hidden;
  /* transition: all .5s ease-in-out; */
}

.ui-skills-chart:hover {
  perspective: 1000;
  transform: scale(1.2);
}


