
.ui-skill-title {
  height: 1.4em;
  /*display: block;*/
  text-align: center;
  font-size: .6em;
  /*background-color: rgba(155, 50, 33, 0.2);*/
  background-color: rgba(155, 50, 33, 0.05);
  padding: .1rem .5rem;
  border-radius: .2em;
  align-items: center;
  display: flex;
  margin-top: .2em;
}

.ui-skills-chart:not(:last-of-type) .ui-skill-title {
  /*border-right: 1px solid #9b3221;*/
  margin-right: .2em;
}

.ui-skill-title.strong {
  /*background-color: rgba(155, 50, 33, 0.6);*/
  background-color: rgba(155, 50, 33, 0.4);
}

.ui-skill-title.regular {
  /*background-color: rgba(155, 50, 33, 0.4);*/
  background-color: rgba(155, 50, 33, 0.2);
}

.ui-skill-title.knowledgeable {

}

.ui-skills-content {
  grid-row-gap: .2em;
}
