
.ui-hobby-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ui-hobby-chart {
  margin: 5px;
  width: 100px;
  overflow: hidden;
}

.ui-hobby-item {
  width: 3em;
  overflow: hidden;
  margin-right: .5em;
}

.ui-hobby-icon {
  width: 100%;
}

.ui-hobby-text {
  text-align: center;
  display: none;
}



