
.ui-header {
  display: flex;
}

.ui-name {
  font-size: 3em;
  color: #003333;
}

.ui-title {
  font-size: 1.5em;
  color: #003333;
}

.ui-photo {
  max-width: 7em;
  max-height: 7em;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-right: 1em;
  border: 3px solid #003333;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ui-details {
  font-size: .8em;
  display: flex;
  flex-direction: row;
}

.ui-details > div:not(:first-child) {
  margin-left: .5em;
}

.ui-details > div > img {
  height: .8em;
  margin-right: .3em;
  /*margin-top: -.1em;*/
  top: .1em;
  position: relative;
}


.ui-location {
  /*display: inline-block;*/
  /*background-image: url('/assets/images/location.svg');*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

.ui-email {

}

.ui-phone {

}

.ui-label-hover {
  font-size: .8em;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {

  .ui-name {
    font-size: 2em;
  }

  .ui-title {
    font-size: 1em;
  }

  .ui-photo {
    max-width: 6em;
    max-height: 6em;
  }

}

