<div class="ui-header">
  <div class="ui-name">{{ user.name }}</div>
  <div class="ui-title">{{ user.title }}</div>
  <ul class="ui-menu">
    <li class="ui-menu-item">
      <a (click)="onClick('about')">{{ 'about' | translate}}</a>
    </li>
    <li class="ui-menu-item">
      <a (click)="onClick('skills')">{{ 'skills' | translate}}</a>
    </li>
    <li class="ui-menu-item">
      <a (click)="onClick('experience')">{{ 'experience' | translate}}</a>
    </li>
    <li class="ui-menu-item">
      <a (click)="onClick('education')">{{ 'education' | translate}}</a>
    </li>
    <li class="ui-menu-item">
      <a (click)="onClick('hobby')">{{ 'hobby' | translate}}</a>
    </li>
  </ul>
</div>