<div class="ui-section  ui-experience">
  <div class="ui-subtitle">
    <div class="ui-subtitle-text">Doświadczenie</div>
    <div class="ui-subtitle-line"></div>
  </div>
  <div class="ui-timeline-content">
    <ng-container *ngFor="let exp of experiences; let i = index">
      <div class="ui-timeline-period-container"
           [ngStyle]="{'grid-row': (i * 2 + 1)}">
        <div class="ui-timeline-period">
          <div>{{ exp.from | date: 'yyyy' }}</div>
          <div>{{ exp.from | monthname }}</div>
        </div>
        <div class="ui-timeline-period" style="margin-top: .5em;">-</div>
        <div class="ui-timeline-period" *ngIf="exp.to != null">
          <div>{{ exp.to | date: 'yyyy' }}</div>
          <div>{{ exp.to | monthname }}</div>
        </div>
        <div class="ui-timeline-period now" *ngIf="exp.to == null">
          <div>teraz</div>
        </div>
      </div>
      <div class="ui-timeline-line"
           [ngStyle]="{'grid-row': (i * 2 + 1) + ' / span 2'}">
        <div>
          <div class="ui-timeline-circle"></div>
        </div>
      </div>
      <div class="ui-timeline-description">
        <div class="ui-timeline-name">{{ exp.name }}</div>
        <div class="ui-timeline-position">{{ exp.position }}</div>
        <hr/>
        <div class="ui-timeline-text" [innerHTML]="exp.description"></div>
      </div>
    </ng-container>
  </div>
</div>
