<div class="ui-fullpage ui-loading" [ngClass]="getClasses()"></div>
<div class="ui-scrollable ui-fullpage">
  <div class="ui-side ui-side-left"></div>
  <div class="ui-container" [ngClass]="{'hidden': isLoading==true}" *ngIf="isLoading==false">
    <app-header id="header" [user]="user"></app-header>
    <app-about id="about" [user]="user"></app-about>
    <app-skills id="skills" [user]="user"></app-skills>
    <app-experience id="experience"
                    [experiences]="user.experiences"
                    [title]="'Doświadczenie'"></app-experience>
    <app-experience id="education"
                    [experiences]="user.educations"
                    [title]="'Wykształcenie'"></app-experience>
    <!--<app-education id="education" [user]="user"></app-education>-->
    <app-hobby id="hobby" [user]="user"></app-hobby>
    <app-consent id="consent" [user]="user"></app-consent>
  </div>
  <div class="ui-side ui-side-right"></div>
</div>
