
html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: 'Cinzel', sans-serif;
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.ui-section {
  padding: 2em 2em 0 2em;
}

.ui-subtitle {
  display: flex;
  flex-direction: row;
  margin-bottom: .8em;
  margin-left: -2em;
}

.ui-subtitle-text {
  background-color: #003333;
  color: #FFF8F0;
  padding: 10px 15px;
  flex: 0 1 auto;
  width: 10em;
  text-align: center;
}


.ui-subtitle-line {
  flex: 1;
  height: .2em;
  background-color: #003333;
  margin: 2.3em 0 0 0;
}

.ui-timeline-description {
  grid-column: 5;
  font-weight: normal;
}

.ui-timeline-description ol {
  margin: 0;
}

.ui-timeline-period > div {
  display: block;
  text-align: center;
}

.ui-timeline-period.now {
  margin-top: .5em;
}

.ui-timeline-name {
  font-weight: bold;
  font-size: 1.1em;
}

.ui-timeline-position {
  font-weight: bold;
  color: #9B2922;
}

.ui-timeline-text {
  margin: 1em;
}

.ui-timeline-line {
  position: relative;
  width: .4em;
  height: 100%;
  background-color: #9B2922;
  margin: 0 auto;
}

.ui-timeline-circle {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.4em solid #9B2922;
  background-color: #FFFFFF;
  left: -.67em;
  top: 2.4em;
}

a:link, a:visited {
  color: #003333;
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active, a:hover {
  color: #9B2922;
}

.ui-timeline-content {
  display: grid;
  grid-template-columns: 6em .4em 6em 5em auto;
  grid-auto-rows: auto;
  font-size: .6em;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .ui-timeline-content {
    overflow: hidden;
  }

}

@media print {

  body {
    font-size: 19px;
  }

}

